# alias andrew-fs="sshfs andrew:/afs/andrew.cmu.edu/usr15/hnelson1/private ~/andrew"

function op-get() {
    op get account 2>&1 > /dev/null
    if [[ $? -ne 0 ]]; then
        eval $(op signin lmbjpn)
    fi
    op get item $1 | jq -r '.details.fields[] | select(.designation == "password") | .value'
}
# this isn't working right now
alias andrew='ANDREW_SSH_CMD="mosh hnelson1@ghc50.ghc.andrew.cmu.edu" && . ~/.bin/andrew.sh'
alias ax11='ANDREW_SSH_CMD="ssh -CY hnelson1@ghc49.ghc.andrew.cmu.edu" && . ~/.bin/andrew.sh'
# alias ascp='ANDREW_SSH_CMD="scp" && . ~/.bin/andrew.sh'
alias 410fs="sshfs andrew:/afs/andrew.cmu.edu/usr15/hnelson1/410/scratch ~/15410"
alias 213remote='sshpass -p $(op-get AndrewID) mosh hnelson1@lemonshark.ics.cs.cmu.edu'
alias prettier='prettier --write --print-width 9999'

alias tmux="tmux -2"
alias coin="rlwrap coin"
alias smlnj="rlwrap smlnj"
alias ocaml="rlwrap ocaml"

alias extmonitor-on="xrandr --auto --output eDP-1 --same-as DP-1-2"
alias extmonitor-off="xrandr --output DP-1-2 --off"
export netborg_server="58073@usw-s008.rsync.net:backup"
alias netborg="borg --remote-path=borg1"
alias netbackup="borg create --remote-path=borg1 --progress --stats --exclude-from=.borgexclude --compression auto,lzma 58073@usw-s008.rsync.net:backup::{hostname}-{user}-{now:%Y-%m-%dT%H:%M:%S} /home /etc"
alias updmirrors="sudo reflector --country 'United States' --latest 15 --age 24 --sort rate --save /etc/pacman.d/mirrorlist"
alias se="sudoedit"

alias alert="notify-send 'COMMAND COMPLETED'"

alias pacclean="paccache -r && paccache -ruk0"

alias wypy="~/wyvern/bin/wypy"
alias wyby="~/wyvern/bin/wyby"
alias wyvern="~/wyvern/bin/wyvern"

alias f="ranger"
alias g="git"
alias ga="git add"
alias gc="git commit"
alias gca="git commit -a"
alias gco="git checkout"
alias gd="git diff"
alias gds="git diff --staged"
alias gl="git log"
alias gu="git pull"
alias gp="git push"
alias gs="git status"
alias gus="git restore --staged"
alias gr="git restore"

alias kb="setxkbmap -option ctrl:nocaps && xmodmap ~/.Xmodmap"
