# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Henry Nelson
	email = hcnelson99@gmail.com
[core]
	editor = v --remote-wait
	excludesfile = ~/.gitignore
[push]
	default = simple
[alias]
	ds = diff --staged
	co = checkout
	graph = log --all --graph --pretty --oneline
