[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/henry/Desktop/Hasleo WinToUSB.desktop]
row=9
col=0

[/home/henry/Desktop/steam.desktop]
row=0
col=1

[d9da1ab6-5a00-4213-b938-d0ec64195d6a]
row=1
col=0

[2B50-8DAD]
row=2
col=0

[backup_drive]
row=4
col=0

[a5a6e878-ff41-4ecd-a70b-d84d07d40040]
row=5
col=0

[/]
row=7
col=0

[/home/henry]
row=8
col=0

