URxvt.font: xft:Source Code Pro for Powerline:size=8
URxvt.boldFont: xft:Source Code Pro for Powerline:bold:size=8
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt*scrollBar: false

Xft.dpi: 118
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
